appdirs==1.4.3
asn1crypto==0.24.0
autopep8==1.4.3
backcall==0.1.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.11.29
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
cryptography==2.6.1
cssselect==1.0.3
cycler==0.10.0
decorator==4.3.2
fake-useragent==0.1.11
Flask==1.0.2
future==0.17.1
idna==2.7
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.2
Jinja2>=2.10.1
kiwisolver==1.0.1
lxml==4.2.5
MarkupSafe==1.1.1
matplotlib==3.0.2
mysql-connector==2.1.6
numpy==1.16.1
pandas==0.24.1
parse==1.9.0
parso==0.3.2
pickleshare==0.7.5
Pillow==5.4.1
prompt-toolkit==2.0.8
py-backwards==0.7
py-backwards-astunparse==1.5.0.post3
pycodestyle==2.4.0
pycparser==2.19
pyee==5.0.0
pygame==1.9.4
Pygments==2.3.1
PyOpenGL==3.1.0
pyparsing==2.3.1
pyppeteer==0.0.25
pyquery==1.4.0
python-dateutil==2.8.0
python-telegram-bot==11.1.0
pytz==2018.9
requests==2.20.1
requests-html==0.6.6
six==1.11.0
tqdm==4.28.1
traitlets==4.3.2
typed-ast==1.1.0
urllib3==1.24.2
virtualenv==16.4.3
w3lib==1.19.0
wcwidth==0.1.7
websockets==7.0
Werkzeug==0.15.2
win-unicode-console==0.5
